<div class="list-row">
    <div class="row doclist-row  has-checkbox row-named" data-name="{%= data.name %}" data-hascompany="{%= (data.customer || data.supplier)?true:false%}"style=" {%= data.seen ? "font-weight:normal" : "font-weight:bold" %}">
        <div class="col-mg-5  col-sm-12  list-row-left">
            <div class="row">
                <div class="col-sm-2 list-col text-ellipsis  col-xs-12">
                    <span class="list-value">
                        <input class="list-delete noclick" type="checkbox" style="margin: 0 7px 0 0; vertical-align: middle;">
                        {% if (data.sender_full_name){var sender = data.sender_full_name} else {var sender =  data.sender} %}
                        <a class="grey"  title="{%= sender %}">{%= sender %}</a>
                    </span>
                </div>
                <div class="col-sm-4 list-col text-ellipsis  col-xs-12">
                    <span class="list-value">
                        <a class="grey" title="{%= data.name %}">{%= data.subject %}</a>
                    </span>
                </div>

                <div class="col-sm-2 list-col text-ellipsis  hidden-xs {%= (data.customer || data.supplier)? "":"force-company" %}">
                    <span class="list-value">
                        <a class="filterable h6 text-muted grey noclick" data-filter="company,=,Commercial">{%= [data.customer,data.supplier].join(" ") %}</a>
                        <!--<a class="filterable h6 text-muted grey" data-filter="customer_group,=,Commercial">{%= data.supplier %}</a>-->
                    </span>
                </div>
                <div class="col-sm-2 list-col text-ellipsis  hidden-xs {%= data.reference_doctype ? "": "noclick relink-link"%}">
                    <span class="list-value">
                        <a class="filterable h6 text-muted grey noclick reference-document"  data-filter="reference_doctype,=,{%= data.reference_doctype %}" title="Linked Doctype: {%= data.reference_doctype %}" href="#Form/{%= data.reference_doctype %}/{%= data.reference_name %}"data-filter="reference_name,=,{%= data.reference_name %}">{%= data.reference_name %}</a>
                        <!--<i class="icon-link pull-right noclick " data-reference_doctype="{%= data.reference_doctype %}" data-reference_name="{%= data.reference_name %}"></i>-->
                    </span>
                </div>
                <div class="col-sm-1 list-col text-ellipsis  hidden-xs  " title="Sent or Received: {%= data.sent_or_received %}">
                    <span class="list-value">
                        <span>
                            {% if(data.has_attachment){ %}
                            <i class="icon-paperclip icon-large"></i>
                            {% } %}
                        </span>
                    </span>
                </div>
                <div class="col-sm-1 list-col text-ellipsis  hidden-xs" >
                    <span class="list-value">
                        {%= comment_when(data.actualdate,true) %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>